<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
         <link href='styles.css' rel='stylesheet'/>
        <script type="text/javascript" src="../javascripts/jquery.js"></script>
        <script type="text/javascript" src="../javascripts/jquery_login.js"></script>
    </head>
    <body>
        <center>
<img src="munCOA.png" alt="MUN COA" height="150">
<h1 style="color:white">Graduate Recruitment System</h1></center>


<div class="LoginForm" width="200" align="center">
<table style="width:30%" >
  <tr> 
    <td>
<!-- Default form login -->
<div class="LoginForm" width="200">
<form class="text-center border border-light p-5" style="background-color: white;">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="login_username" class="form-control mb-4" placeholder="Username/E-mail">

    <!-- Password -->
    <input type="password" id="login_password" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button  type="submit" -->
    <button type="button" class="btn btn-info btn-block my-4 login_button">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="/register">Register</a>
    </p>

    <!-- Social login -->
    <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-facebook"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-twitter"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-linkedin"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-github"></i>
    </a>

</form>
</div>
<!-- Default form login -->
</td>
  </tr>
</table>
</div>
                                </div>
        <script src="ProjectDetailsScipt.js"></script>
    </body>
</html>
