<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="/css/studentProfileView.css">
    <link rel="stylesheet" type="text/css" href="/css/studentForm.css">
</head>

<body class="profile-page">
<nav class="navbar navbar-inverse ">
    <a class="navbar-brand" href="page.html">Dasboard</a>
    <div class="middle container" >

        <div class=" navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><i>Profile</i></a></li>
                <li><a href="#"><i>Projects </i></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signupPage.html">Messages</a></li>
                <li><a href="signupPage.html">Notifications</a></li>
                <li><a href="" >Logout</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://images.vexels.com/media/users/3/147101/isolated/preview/b4a49d4b864c74bb73de63f080ad7930-instagram-profile-button-by-vexels.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row" id="mainRow">
            <div class="col-md-8 col-md-offset-1">
                <form class="form-horizontal" role="form" >
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Personal Information Details :</legend>

                        <!-- Text input-->
                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="text" name="fistName" placeholder="First Name" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="middleName" placeholder="Middle Name" class="form-control">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" name="lastName" placeholder="Last Name" class="form-control">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="date" placeholder="Date Of Birth" class="form-control">
                                </div>
                                <div class="col-sm-4">
                                    <select type="gender" placeholder="Gender" class="form-control">
                                        <option value="female">Male</option>
                                        <option value="male">Female</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <input type="hidden" class="hidden_userid" value="<%= userdata._id %>" disabled="disabled">
                        <!-- Address Section -->
                        <!-- Form Name -->
                        <legend>Address Details :</legend>
                        <!-- Text input-->
                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <span id="errormsg1"> </span>
                                    <input type="text" id="addressLine1" placeholder="Address Line 1" class="form-control">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="text" id="addressLine2" placeholder="Address Line 2" class="form-control">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="text" id="addressLine3" placeholder="Address Line 3" class="form-control">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="text" id="city" placeholder="City" class="form-control">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="province" placeholder="Province" class="form-control">
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="text" id="country" placeholder="Country" class="form-control">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="postalCode" placeholder="Zip/Postal Code" class="form-control">
                                </div>
                            </div>


                        </div>

                        <!-- Education Section -->
                        <legend>Education Details :</legend>
                        <div id="educationFieldsWrapper">
                            <div class="educationFields">
                                <!-- <h4><STRONG>Education :</STRONG></h4> -->
                                <div class="blockDetails">
                                    <label for="level"><span>Level of Education:</span></label>
                                    <select class="form-control form-control-sm educationSpacing" name="levelOfEd" id="edProgramLevel">
                                        <option value="">Select an option...</option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="Phd">Phd</option>
                                    </select>
                                    <span class="error"></span>

                                    <label for="field"><span>Program Name:</span></label>
                                    <select class="form-control form-control-sm educationSpacing" name="edProg" id="edProgram">
                                        <option value="">Select an option...</option>
                                        <option value="Electronics and Communications">Electronics and Communications</option>
                                        <option value="Electrical">Electrical</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Mechanical">Mechanical</option>
                                        <option value="Chemical">Chemical</option>
                                        <option value="Civil">Civil</option>
                                    </select>
                                    <span class="error"></span>

                                    <div class="clear"></div>
                                    <label for="name">Institution Name:</label>
                                    <input type="text" class="form-control educationSpacing" name="edInst" id="edInstitution" >

                                    <!--<div class="form-group">-->
                                    <!--<div class="col-sm-4">-->
                                    <!--<label for="startDate">Start Date :</label>-->
                                    <!--<input type="date" class="form-control educationSpacing" id="edStart">-->
                                    <!--</div>-->

                                    <!--<div class="col-sm-4">-->
                                    <!--<label for="endDate">End Date :</label>-->
                                    <!--<input type="date" class="form-control educationSpacing" id="edEnd">-->
                                    <!--</div>-->
                                    <!--</div>-->


                                    <hr>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary allButtons eduButton" onclick="edu()" >Add Education</button>

                        <!-- Skills Section -->

                        <legend>Skills :</legend>
                        <div id="skillsFieldsWrapper">
                            <div class="skillFields skillBlock">

                                <label for="skill">Skill Name :</label>
                                <input type="text" class="form-control skill" id="skills">

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary allButtons addButton" onclick="skil()" >Add Skills</button>
                        <!-- Research Section -->

                        <legend>Research Interest :</legend>
                        <div id="researchFieldsWrapper">
                            <div class="researchFields skillBlock">
                                <label for="research">Interest Name :</label>
                                <input type="text" class="form-control resrch" id="researchId">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary allButtons researchButton" onclick="research()" >Add Interest</button>
                        <!-- Experience Section -->

                        <legend>Work Experience :</legend>
                        <div id="expFieldsWrapper">
                            <div class="expFields">
                                <div class="blockDetails">
                                    <label for="comp">Company Name :</label>
                                    <input type="text" class="form-control exp" id="weCompany">
                                    <label for="title">Title :</label>
                                    <input type="text" class="form-control exp" id="weTitle">

                                    <label for="startDate">Start Date :</label>
                                    <input type="date" class="form-control exp" id="weStartDate">
                                    <label for="endDate">End Date :</label>
                                    <input type="date" class="form-control exp" id="weEndDate">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary allButtons expButton" onclick="exp()">Add Experience</button>

                        <legend>Intended Program of Study :</legend>
                        <div class="blockDetails">
                            <label for="area"><span>Area :</span></label>
                            <select class="form-control form-control-sm oth" id="psArea">
                                <option value="">Select an option...</option>
                                <option value="Human Kinetics and Recreation">Human Kinetics and Recreation</option>
                                <option value="Humanities and Social Sciences">Humanities and Social Sciences</option>
                                <option value="Medicine">Medicine</option>
                                <option value="Psychology">Psychology</option>
                                <option value="Interdiciplinary">Interdiciplinary</option>
                                <option value="Engineering and Applied Science">Engineering and Applied Science</option>
                                <option value="Education">Education</option>
                                <option value="Physics">Physics</option>
                                <option value="Sciences">Sciences</option>
                                <option value="Business Administration">Business Administration</option>
                                <option value="Music">Music</option>
                                <option value="Marine Studies">Marine Studies</option>
                                <option value="Management">Management</option>
                                <option value="Earth Sciences">Earth Sciences</option>
                                <option value="Nursing">Nursing</option>
                                <option value="Professional Programs">Professional Programs</option>
                            </select>
                            <label for="level"><span>Level of Education:</span></label>
                            <select class="form-control form-control-sm oth" id="psLevel">
                                <option value="">Select an option...</option>
                                <option value="Bachelors">Bachelors</option>
                                <option value="Masters">Masters</option>
                                <option value="Phd">Phd</option>

                            </select>
                            <!--<label for="specificlevel"><span>Specific Level:</span></label>-->
                            <!--<select class="form-control form-control-sm oth" id="psSpeLevel">-->
                            <!--<option value="">Select an option...</option>-->

                            <!--</select>-->
                            <!--<label for="program"><span>Program:</span></label>-->
                            <!--<select class="form-control form-control-sm oth" id="psProgram">-->
                            <!--<option value="">Select an option...</option>-->

                            <!--</select>-->
                            <!--<label for="term"><span>Term:</span></label>-->
                            <!--<select class="form-control form-control-sm oth" id="psAdTerm">-->
                            <!--<option value="">Select an option...</option>-->

                            <!--</select>-->

                            <label for="projDate">Intended Start Date:</label>
                            <input type="date" class="form-control oth" id="projDate">
                            <label for="fund">Require Financial Aid? :</label>
                            <input class="form-check-input oth" id="needFS" type="radio" name="gridRadios"  value="Y" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Yes
                            </label>
                            <input class="form-check-input oth" id="needFS" type="radio" name="gridRadios" value="N">
                            <label class="form-check-label" for="gridRadios2">
                                No
                            </label>
                        </div>
                    </fieldset>
                </form>
                <button type="submit" class="btn btn-primary allButtons profileSubmit" onclick="profileCreateSubmit()">Submit</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="../javascripts/jquery_profile.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>