<%- include('header') %>

<div class="body">
    <div class="prompt_msg">Do not have a profile yet? Hit the button below!</div>
    <div class="resumelist_box">
        <button class="list_btn" id="create_profile_button">create
        </button>
    </div>
</div>
<script type="text/javascript" src="../javascripts/jquery_profilelist.js"></script>

<%- include('footer') %>
