<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
              integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/MatchedProjects.css">
    </head>
<body>
<section id="MatchedProjects" class="pb-5">
    <div class="container">
        <div style="text-align: center;"><h1>Projects Matching Your Profile</h1></div>
        <div class="jumbotron">
        </div>
        <div class="row">
            <!--card1-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">Software Design</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Project Details</h4>
                                    <ul class="list-inline">

                                        <li>Application Deadline:10/12/2018</li>
                                        <li>Available Funding:1000cad$</li>
                                        <li>Qualifications:Bachelors</li>
                                        <li>Matching Percentage:80%</li>
                                       <br><div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="communicate()">
                                                Message
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card2 -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">Ethical Hacking</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ethical Hacking</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                    <ul class="list-inline">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card3 -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">Cloud Computing</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" color="#862633">Cloud Computing</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                    <ul class="list-inline">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card4-->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">Artificial Intelligence</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" color="#862633">Artificial Intelligence</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                    <ul class="list-inline">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card5 -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">SoftwareDesign</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" color="#862633">SoftwareDesign</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                    <ul class="list-inline">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--card6-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card bg-light mb-3">
                                <div class="card bg-light mb-3">
                                    <p><img class="card-img" src="softwaredesign.jpg" alt="Card image cap"></p>
                                    <h4 class="card-title">SoftwareDesign</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" color="#862633">SoftwareDesign</h4>
                                    <p class="card-text">The software development life cycle (SDLC) is a framework
                                        defining tasks performed at each step in the software development process. SDLC
                                        is a structure followed by a development team within the software organization.
                                        It consists of a detailed plan describing how to develop, maintain and replace
                                        specific software.</p>
                                    <ul class="list-inline">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
