<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="ProjectList.js"></script>
    <link rel="stylesheet" type="text/css" href="ProjectList.css">
    <title>ProjectList</title>
</head>

<body>
    <!-------header---------------------------->
    <div class="header">
        <div class="container">
            <div class="logo">
            </div>
        </div>
    </div>
    <br>
    <!-------------------project form-------------------------->
    <br>
    <form name="Project" method="post">
        <!-------------Field of study---------------------------->
        <div class="row" id="mainRow">
            <div class="col-md-6 col-md-offset-1">
                <form class="form-horizontal" role="form">
                    <div class="Fieldofstudy">
                        <h1>Create Project</h1>
                        <br>
                        <fieldset>
                            <legend><span class="number"></span>Level of study</legend>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <select id="Required_Position" name="Student_Position" class="form-control">
                                        <br>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="Phd">Phd</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        </div>
                        <!-------------Project  description---------------------------->
                        <br>
                        <div class="project_info">
                            <fieldset>
                                <legend><span class="number"></span>Project Information</legend>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <textarea id="projectInfo" name="projectInfo" class="form-control" placeholder="Project description must be greater than 20 words."></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            </div>
                            <!--------skills section--------------------------------------->
                            <br>
                            <div class="skill">
                                <fieldset>
                                    <div id='skillgroup'>
                                        <div id="Addskilldiv1">
                                            <legend><span class="number"></span>Skills</legend>
                                            <div class="form-group">
                                                <div class="col-sm-7">
                                                    <label> skill 1 :</label>
                                                    <input type='textbox' id='skilltb' class="form-control" placeholder="Add your skills">
                                                </div>
                                            </div>
                                            <div class="button-wrapper">
                                                <button type="button" class="btn btn-primary" onclick="skills()">Add Skills</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                </div>
                                <br>
                                <br>
                                <!------------Availabilty of financial aid section----------------->
                                <div class="form-group">
                                    <div class="col-sm-7">
                                        <label>Availabailty of Financial-aid:</label>
                                        <br>
                                        <input type="radio" id="Financialaid" value="Financialaid" name="Financialaid">
                                        <label class="light" for="Financialaid" class="form-control" onclick="toggleTextbox('F')">Yes</label>
                                        <input type="radio" id="Financialaid" value="Financialaid" name="Financialaid">
                                        <label class="light" for="Financialaid" class="form-control" onclick="">No</label>
                                        <br>
                                        <br>
                                        <label>Avalilabe Funding:</label>
                                        <input type='textbox' id='Funding' class="form-control" placeholder="Funding Amount(CAD$)">
                                        <div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <br>
                                                    <input type='button' value='Submit' id='subbmitform' class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </form>
            </div>
        </div>
</body>

</html>
