<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_project.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/CreateProject.css">
    <title>CreateProject</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3"></h1>
    </div>
    <!--Form-->
    <div class="container" data-toggle="validator">
        <div class="row" id="mainRow">
            <div class="col-md-6 col-md-offset-1">
                <form class="form-horizontal" role="form">
                    <input type="hidden" class="hidden_userid" value="<%= userdata._id %>" disabled="disabled">
                    <h1>Create Project</h1><br>
                    <!--Text-input-->
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="field of study">
                                    <label>Project Title* </label>
                                    <hr>
                                    <ul><input type="text" class="form-control" id="project_name"
                                               placeholder="Your project name" required="required"></ul>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!--Level of study-->
                    <fieldset>
                        <label><span class="number"></span>Level of Study:</label>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <ul>
                                    <select id="level_of_study" name="Student_Position" class="form-control">
                                </ul>
                                <option value="Bachelors">Bachelors</option>
                                <option value="Masters">Masters</option>
                                <option value="Phd">Phd</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <!--Required field of study-->
                    <fieldset>
                        <label><span class="number"></span>Required Field of Study:</label>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <ul>
                                    <select id="Req_field_study" name="Req_Position" class="form-control">
                                </ul>
                                <option value="Bachelors">Bachelors</option>
                                <option value="Masters">Masters</option>
                                <option value="Phd">Phd</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <!--area of study-->
                    <fieldset>
                        <label><span class="number"></span>Area of study:</label>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <ul>
                                    <select id="Req_area_study" name="Req_Position" class="form-control">
                                </ul>
                                <option value="">Select an option...</option>
                                <option value="hmnK">Human Kinetics and Recreation</option>
                                <option value="hmsc">Humanities and Social Sciences</option>
                                <option value="med">Medicine</option>
                                <option value="pys">Psychology</option>
                                <option value="intr">Interdiciplinary</option>
                                <option value="engSc">Engineering and Applied Science</option>
                                <option value="educa">Education</option>
                                <option value="phy">Physics</option>
                                <option value="scin">Sciences</option>
                                <option value="ba">Business Administration</option>
                                <option value="mus">Music</option>
                                <option value="marine">Marine Studies</option>
                                <option value="management">Management</option>
                                <option value="es">Earth Sciences</option>
                                <option value="nrs">Nursing</option>
                                <option value="profProg">Professional Programs</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <!--Matching Preference-->
                    <fieldset>
                        <label><span class="number"></span>Matching Preference:</label>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <ul>
                                    <select id="Match_Preference" name="Match_Preference" class="form-control">
                                </ul>
                                <option value="40% Similarity">40% Similarity</option>
                                <option value="60% Similarity">60% Similarity</option>
                                <option value="80% Similarity">80% Similarity</option>
                                <option value="100% Similarity">100% Similarity</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <!--Project  description-->
                    <div class="project_info">
                        <fieldset>
                            <label><span class="number"></span>Project Description:</label>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <ul><textarea style="width:500px; height:150px;" id="project_description"
                                                  name="projectInfo" class="form-control"
                                                  placeholder="Project description must be greater than 20 words."
                                                  required="required"></textarea>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--skills section-->
                    <div class="skill">
                        <fieldset>
                            <!--<div id='skillsFieldsWrapper'>-->
                            <!--<div id="Addskilldiv1">-->
                            <!--<label><span class="number"></span>Skills Required: </label>-->
                            <!--<hr>-->
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-7">-->
                            <!--<ul><label> skill:</label>-->
                            <!--<input type='text' id='skilltb' class="form-control select_skill"-->
                            <!--placeholder="Add your skills" required="required">-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="button-wrapper">-->
                            <!--<button type="button" class="btn btn-primary" onclick="skill()">Add Skills-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div id="skillsFieldsWrapper">
                                <div class="skillFields skillBlock">

                                    <label for="skill">Skill Name :</label>
                                    <input type="text" class="form-control skill" id="skills" required="required">

                                </div>
                            </div>
                            <br>
                            <button type="button" class="btn btn-primary allButtons addButton" onclick="skill()">Add
                                Skills
                            </button>
                        </fieldset>
                    </div>
                    <br><label for="projDate">Start Date:</label>
                    <!--Date section-->
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <ul><input type="date" class="form-control" id="start_date" required="required"></ul>
                        </div>
                    </div>
                    <!--Funding section-->
                    <!--Text input-->
                    <label>Avalilabe Funding:</label>
                    <hr>
                    <ul><input type='text' id='available_funding' class="form-control"
                               placeholder="Funding Amount(CAD$)" required="required"></ul>
                    <div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <br>
                                <button type='submit' id='submitform' class="btn btn-primary"
                                        onclick="projectCreateSubmit()">Submit
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</form>
</body>
</html>

