<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Font Awesome -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <!-- Bootstrap core CSS -->
          <link href="css/bootstrap.min.css" rel="stylesheet">
          <!-- Material Design Bootstrap -->
          <link href="css/mdb.min.css" rel="stylesheet">
          <!-- Your custom styles (optional) -->
          <link href="css/style.css" rel="stylesheet">
                 <link href='styles.css' rel='stylesheet'/>
          <script type="text/javascript" src="javascripts/jquery.js"></script>
          <script type="text/javascript" src="javascripts/jquery_register.js"></script>
    </head>

    <body>
        <center>
            <img src="munCOA.png" alt="MUN COA" height="150">
            <h1 style="color:white">Graduate Recruitment system</h1>
        </center>


        <div class="LoginForm" width="200" align="center">
            <table style="width:30%" >
              <tr> 
                <td>
                <!-- Default form login -->
                <div class="LoginForm" width="200">
                <form class="text-center border border-light p-5" style="background-color: white;">

                    <p class="h4 mb-4">Sign Up</p>

                    <!-- First Name -->
                    <input type="text" id="firstname" class="form-control mb-4" placeholder="First Name">

                    <!-- Middle Name -->
                    <input type="text" id="middlename" class="form-control mb-4" placeholder="Middle Name">

                    <!-- Last Name -->
                    <input type="text" id="lastname" class="form-control mb-4" placeholder="Last Name">

                    <!-- Sex -->
                    <select type="gender" placeholder="Gender" class="form-control">
                        <option value="female">Male</option>
                        <option value="male">Female</option>
                    </select>

                    <!-- Date of Birth -->
                    <input type="date" id="dob" class="form-control mb-4" placeholder="Date of Birth">

                    <!-- Email -->
                    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" id="password" class="form-control mb-4" placeholder="Password">

                    <!-- Password Confirm -->
                    <input type="password" id="password_confirm" class="form-control mb-4" placeholder="Password">

                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                    </div>

                    <!-- Sign in button  type="submit" -->
                    <button type="button" class="btn btn-info btn-block my-4 register_button">Submit</button>

                </form>
                </div>
                <!-- Default form login -->
                </td>
                  </tr>
            </table>
        </div>
                                        </div>
                <script src="ProjectDetailsScipt.js"></script>
    </body>
</html>
