h2 {
    margin-top: 20px;
}

.enter-name {
    margin-bottom: 1rem;
}

.chat-window {
    background-color: #f2f2f2;
    height: 500px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 1rem;
    overflow-y: scroll;
}

.input-group-addon {
    background-color: #862633;
    color: #efefef;
}

#messages {
    padding: none;
}

.msg {
    margin-bottom: 1rem;
}

.member-name, .new-member {
    font-weight: bolder;
}

.chatInput {
    background-color: #f2f2f2;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    color: inherit;
    background-color: #862633;
}

.page-footer {
    background-color: #862633;
    color: #efefef;
}
