body {
    background-color: #f2f2f2;
    color: #862633;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    color: inherit;
    background-color: #862633;
}

.btn-primary {
    background-color: #862633;
    border: #862633;
}

div.container {
    line-height: normal;
}

.textarea {
    width: 300px;
    height: 150px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
