html
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/home5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar
{
    background-color:#34000d;

}
.nav-link{
    color: white;
}
.navbar-brand {
    color: white;
}
.LoginForm{
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
}
.logo
{
    height: 80px;

}