* {
  margin: 15;
  padding: 15;
  box-sizing: border-box;
}

body {
  height: 1200px;
  background-image: url("reg_background.jpg");
}

.container {
  display: flex;
  justify-content: center;
}
table#table {
	
    width:300%; 
	margin:20%;
	
  }
input[type=text] {
    background-color: #fffdd0;
    color: black;
}
input[type=number] {
    background-color: #fffdd0;
    color: black;
}
.navbar-brand {
    color: white;
}